<a href="https://colab.research.google.com/github/krithi65/Array-programs/blob/main/ARRAY_STRINGS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

17.Given a number N and an array of N integers, find the sum of all the negative numbers in the array.
Input Size : N <= 100000
Sample Testcase :
INPUT
2
3 0
OUTPUT
0

In [ ]:
num=int(input())
arr=list(map(int,input().split()))
sum=0
for i in arr:
    if i<0:
     sum+=i
print(sum)

19.Size of the array followed by the elements of the array.

Output Description:
Second largest element of the array.

Sample Input :
10
1 9 8 7 6 5 2 3 4 10
Sample Output :
9

In [ ]:
n=int(input())
list1 = list(map(int,input().split()))
list1.sort()
print(list1[-2])

20.the given element is present in the matrix or not.

Sample Input :
2 5
2 3 0 7 1 5 3 4 1 8
11
Sample Output :
no

In [ ]:
n,m=map(int,input().split())
arr=list(map(int,input().split()))
num=int(input())
if num in arr:
    print("yes")
else:
    print("no")

21.find how many times S occurs in the given sentence.If S is not found in the sentence print -1
Input Size : |sentence| <= 1000000(complexity O(n)).
Sample Testcase :
INPUT
I enjoy doing codekata
codekata
OUTPUT
1

In [ ]:
s = input()
ch = input()
if ch in s:
    print(1)
else:
    print(-1)

22.Print out the singly occurring number. print 0 if no numbers are repeating.

Sample Input :
5
1 1 2 5 5
Sample Output :
2

In [ ]:
num=int(input())
arr =list(map(int,input().split()))
for i in arr:
    if arr.count(i)<2:
     print(i)

23.Print out the singly occurring number. print 0 if no numbers are repeating.

Sample Input :
5
1 1 2 5 5
Sample Output :
2

In [ ]:
num=int(input())
arr =list(map(int,input().split()))
for i in arr:
    if arr.count(i)<2:
     print(i)

24.Print out the singly occurring number.

Sample Input :
5
1 1 2 5 5
Sample Output :
2

In [ ]:
num=int(input())
arr =list(map(int,input().split()))
for i in arr:
    if arr.count(i)<2:
     print(i)

25.Given 2 array of size N and M.merge them in sorted order and print it.
Input Size : |N||M| <= 100000( O(n))
Sample Testcase :
INPUT
5 4
1 2 3 4 5
1 2 3 4
OUTPUT
1 1 2 2 3 3 4 4 5

In [ ]:
n,m=map(int,input().split())
a=list(map(int,input().split()))
b=list(map(int,input().split()))
c = a+b
d=c.sort()
print(*c)

26.sort the salaries

In [ ]:
num = int(input())
salary = [int(x) for x in input().split()]
salary.sort()
print(*salary)

27.Print the number with maximum frequency. If two number have equal freqency prin the number that comes first

Sample Input :
7
1 2 3 4 4 4 5
Sample Output :
4

In [ ]:
import statistics
b=int(input( ))
a=list(map(int,input( ).split( )))
res=statistics.mode(a)
print(res)

28. find the number of strings that are an anagram of 'kabali'.If there exists no anagram for the given string print '0'.
Input Size : 1 <= N <= 1000
Sample Testcase :
INPUT
5
kabali
kaabli
kababa
kab
kabail
OUTPUT
3

In [ ]:

n = int(input())
l = []
for i in range(n):
    l.append(str(input()))
ref = 'kabali'
count = 0
for i in l:
    flag = True
    for j in i:
        if i.count(j) != ref.count(j):
            flag = False
            break
    if flag:
        count+=1
print(count)

29.Print the minimum element

Sample Input :
5
3 4 9 1 6
Sample Output :
1

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
print(min(arr))

30.an element K is present in the array.print 'yes' if element is present otherwise print 'no'.
Input Size : 1 <= N <= 1000000000000000(Do it in logN time complexity)
Sample Testcase :
INPUT
3 2
2 3 7
OUTPUT
Yes

In [ ]:
n,m=map(int,input().split())
arr=list(map(int,input().split()))
if m in arr:
    print("yes")
else:
    print("no")

31.Given a string 'S' swap the even and odd characters starting from index 1(Assume the index starts from 0).
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
codekata
OUTPUT
ocedakat

In [ ]:
data = input( )
s=list(data)
i = 0
while i < s.__len__()-1:
    t = s[i]
    s[i] = s[i + 1]
    s[i + 1] = t
    i = i + 2
data=s    
print("".join(data))

32.Given 2 strings S1 and s2, check whether they are case senitively equal without using any predefined function(case sensitive).If they are not same print 'no'
Sample Testcase :
INPUT
guvi guvi
OUTPUT
yes

In [ ]:
n,m=map(str,input().split())
if(n==m):
    print("yes")
else:
    print("no")

33.Given a number N in decimal convert it into binary value.
Input Size : N <= 100000
Sample Testcase :
INPUT
5
OUTPUT
101

In [ ]:
def decimalToBinary(n):
	return "{0:b}".format(int(n))

n=int(input())
print(decimalToBinary(n))

34.Given a sentence S take out the extra spaces.If no extra space is present print the same as output.
Input Size : |s| <= 100000(complexity O(n))
Sample Testcase :
INPUT
codekata challenge
OUTPUT
codekata challenge

In [ ]:
test_str = input()
# using split() + join()
# remove additional space from string 
res = " ".join(test_str.split())
print(str(res))

35.Print the position of first 1 from right to left, in binary representation of an Integer.
Sample Testcase :
INPUT
18
OUTPUT
2

In [ ]:
import math
n=int(input())
res=math.log2(n&-n)+1
print(round(res))

36.Given a binary number convert it to hexadecimal.
Sample Testcase :
INPUT
1100100
OUTPUT
64

In [ ]:
a=input()
b=hex(int(a, 2))
print(b[2:])

37.find if two consecutive words are same.
Input Size : N <= 1000
Sample Testcase :
INPUT
5
code
overload
vishal
sundar
anish
OUTPUT
no

In [ ]:
n=int(input())
a = []
for i in range(n):
    a.append(str(input()))
#print(a)
flag = False
for i in range(n-1):
        if a[i] == a[i+1]:
            flag = True
if flag:
    print("yes")
else:
    print("no")

38.check whether they lie on the same line.If they lie on the same line print 'yes' Otherwise print 'no'.
Sample Testcase :
INPUT
0 1
0 0
0 2
OUTPUT
yes

In [ ]:
x1,y1=map(int,input().split())
x2,y2=map(int,input().split())
x3,y3=map(int,input().split())
a = x1 * (y2 - y3) + x2 * (y3 - y1) + x3 * (y1 - y2)
if (a == 0):
    print ("yes")
else:
    print ("no")