<a href="https://colab.research.google.com/github/krithi65/Array-programs/blob/main/ARRAYS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Print the number which is repeated twice

Sample Input :
5
13 12 13 12 13
Sample Output :
12

In [ ]:
import collections
n=int(input( ))
arr = list(map(int,input( ).split( ))) 
repeats = [
    item 
    for item, count in collections.Counter(arr).items() 
    if count == 2
]
print(*repeats)

2.Print 1 if array is beautiful and 0 if it is not,A beautiful array is an array whose sum of all numbers is divisible by 2, 3 and 5

Sample Input :
5
5 25 35 -5 30
Sample Output :
1

In [ ]:
n=int(input())
a=list(map(int,input().split()))
sum=0
for i in a:
    sum=sum+i
if(sum%2==0 and sum%3==0 and sum%5==0):
    print(1)
else:
    print(0)

3.Print the minimum element

Sample Input :
5
3 4 9 1 6
Sample Output :
1

In [ ]:
n=int(input())
a=list(map(int,input().split()))
c=min(a)
print(c)

4.Given a string S, print it without using semicolon in your program.
Sample Testcase :
INPUT
hello world
OUTPUT
hello world

In [ ]:
s=input( )
print(s)

5.Given 2 numbers N and K followed by elements of N .Print 'yes' if K exists else print 'no'.
Sample Testcase :
INPUT
4 2
1 2 3 3
OUTPUT
yes

In [ ]:
a,b = map(int,input().split( ))
arr = list(map(int,input().split( )))
if b in arr:
    print('yes')
else:
    print('no')

6.Output the total unit of Air encapsulated between the walls of chamber.

Sample Input :
3
7 4 9
Sample Output :
3

In [ ]:
n =int(input())
l = [int(x) for x in input().split()]
ans = 0
for i in range(1, len(l)-1):
    if l[i] < l[i-1] and l[i] < l[i+1]:
        ans += min(l[i+1], l[i-1]) - l[i]
print(ans)

7.Matrix sorted in ascending order

Sample Input :
3 3
87 21 34
89 32 78
12 23 45
Sample Output :
12 21 23
32 34 45
78 87 89

In [ ]:
(r, c) = map(int, input().split())
a = []
for i in range(r):
     l = [int(x) for x in input().split()]
     a.extend(l)
a.sort()
i = 0
for j in range(r):
    b = []
    for k in range(c):
        b.append(a[i])
        i += 1
    print(*b)

8.Print 1 if array is majestic and 0 if it is not,A ‘majsetic’ array is an array whose sum of first three number is equal to last three number.

Sample Input :
7
1 2 3 4 6 0 0
Sample Output :
1

In [ ]:

n=int(input())
b=list(map(int,input().split()))
c1=b[:3]
c2=b[-3:]
if(sum(c1)==sum(c2)):
   print(1) 
else:
    print(0)

9.Highest marks obtained by Rajesh.

Sample Input :
3
82 96 72
Sample Output :
96

In [ ]:
m=int(input())
b=list(map(int,input().split()))
print(max(b))

10.Alphabetically sorted set of strings

Sample Input :
3
InfinityWar EndGame Avengers
Sample Output :
Avengers EndGame InfinityWar

In [ ]:
a=input()
companies=list(map(str,input( ).split()))
companies.sort()
print(*companies)

11.Given a string S, print it after changing the middle element to * (if the length of the string is even, change the 2 middle elements to *).
Sample Testcase :
INPUT
hello
OUTPUT
he*lo

In [ ]:
text = input( )
new = list(text)
if(len(new)%2!=0 and len(new)>=2):
   new[2] ='*'
   print(''.join(new))
elif(len(new)%2==0):
    new[2]='*'
    new[3]='*'
    print(''.join(new))
else:
    new[0]='*'
    print(''.join(new))

12.Given a number N, print the sum of squares of all its digits.
Input Size : 1 <= N <= 100000
Sample Testcase :
INPUT
12
OUTPUT
5

In [ ]:
num = int(input())

sum = 0
while num!=0:
    rem = num%10
    sqr = rem*rem
    sum = sum+sqr
    num = int(num/10)
print(sum)

13.Given numbers A,B find A^B.
Input Size : 1 <= A <= 5 <= B <= 50
Sample Testcase :
INPUT
3 4
OUTPUT
81

In [ ]:
a,b = map(int,input( ).split( ))
print(pow(a,b))

14.Sorted list of employee names

Sample Input :
3
Karthik 23000 rohan 81734 varshini 12343
Sample Output :
varshini
Karthik
Rohan

In [ ]:
num=int(input())
a=input().split()
salary=[]
names=[]
for i in a:
    if i.isdigit():
        salary.append(int(i))
    else:
        names.append(i)
#print(names)
#print(salary)
arrange=sorted(salary)   
for i in arrange:
    jam=salary.index(i)
    print(names[jam])

15.Given 2 numbers N and K followed by N elements,print the number of repetition of K otherwise print '-1' if the element not found.
Sample Testcase :
INPUT
6 2
1 2 3 5 7 8
OUTPUT
0

In [ ]:
list = list(map(int,input( ).split( )))
counts = {item:list.count(item) for item in list}
if (len(counts)>=len(list)):
   print(0)
else:
   print(-1)

16.Given a number N and an array of N integers, find the sum of all the negative numbers in the array.
Input Size : N <= 100000
Sample Testcase :
INPUT
2
3 0
OUTPUT
0

In [ ]:
num=int(input())
arr=list(map(int,input().split()))
sum=0
for i in arr:
    if i<0:
     sum+=i
print(sum)